<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">	
	<title>Resto-APP</title>
	<!-- Libs -->
		<!-- VueJS -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<!-- VueRouter -->
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

		<!-- Axios -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

		<!-- Bootstrap UI -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

		<!-- Style custom -->
		<link rel="stylesheet" type="text/css" href="style.css">
	<!-- Libs / -->
		<script type="text/javascript">
			const API = 'https://crudcrud.com/api/eca1ebf2efbf4fe2b6dfd2e7e3959f8e'
		</script>

</head>
<body>
	<div id="app">
		<!-- Vue instancia -->
		<div class="container">
			<!-- Invocar el componente de: "blog-listado" -->
		<!-- 	<blog-listado v-if="state == 'listado'"></blog-listado>
			<blog-form v-if="state == 'formulario'"></blog-form> -->
			<div id="vistaMesas" v-if="mesaGuardada">
				<div class="row vistaMesas__cont">
					<div class="col-3 vistaMesas__cont--button">
						<button type="button" class="btn btn-outline-primary" v-on:click="abrirMesa">Abrir mesa</button>
						<br>
					</div>
					<div class="col-8 vistaMesas__cont--view">
						<div class="row row-cols-4 vistaMesas__cont--view--in">
							<div class="col mesaAct" v-if="mesa.estaActiva"   v-for="mesa in mesasActiva"> 
								<!-- v-on:click="editarMesa" -->
							<h5>{{mesa.nombre}}</h5>
							<button v-on:click="editarMesa(mesa._id)">EDITAR MESA</button>
							<button v-on:click="cerrarMesa(mesa._id)">CERRAR MESA</button>
						</div>
						</div>	
					</div>
				</div>
				<div class="row vistaMesas__bottom">
					<div class="col-6"></div>
					<div class="col-5 form-group row">
	    				<label for="colFormLabel" class="col-sm-7 col-form-label">Total diario: </label>
					    <div class="col-sm-5">
					      <input type="text" class="form-control" id="colFormLabel"  name="diarioTotal" readonly v-model="totalDiario">
					    </div>
 					</div>
				</div>				
			</div>
			<div id="agregarMesa" v-if="!mesaGuardada">
				<h5>Agregar/Editar Mesa</h5>
				<div id="formContainer">
					<div class="formContainer__form">
							<div class="formContainer__clmns">
								<form>
									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="nombreMesa">Nombre Mesa</label>
											<select type="select" class="form-control" name="nombreMesa" id="nombreMesa" v-model="mesa">
												<!-- :track-by="nombre" -->
												<option 
													:value="m"
													:key="m.nombre"
													v-for="m in listaMesas">{{m.nombre}}
												</option>
											</select>
										</div>	
										<div class="form-group col-md-6">	
											<label for="cantPersonas">Cantidad Personas</label>
											<input type="number" class="form-control" name="cantPersonas" id="cantPersonas" min="0" step="1" max="8" v-model="cantPers">
										</div>	
									</div>
									<div class="form-row">
										<div class="form-group col-md-3">		
											<label for="plato_item">Código / Plato</label>
											<!-- Utilizo el v-model "plato" para capturar la información del select -->

											<!-- Uso la función "watchPlato" para verificar si existe algun cambio en el select con el evento "v-on:change" -->
											<select type="select"  class="form-control" name="plato_item" id="plato_item" v-model="plato" >
												<!-- Se utiliza el atributo ":value" que va a transformar el valor del option en el "objeto" plato -->
												<option 
													:value="plato"
													v-for="plato in platoList">{{plato.cod}} - {{plato.nombre}}</option>
											</select>	
										</div>	
										<div class="form-group col-md-3">	
											<label for="precio">Precio</label>
											<input type="text" class="form-control" name="precio" id="precio" v-model="plato.precio" readonly>
										</div>	
										<div class="form-group col-md-3">	
											<label for="cantidad">Cantidad</label>
											<input type="number" class="form-control" v-model="plato.cantidad" name="cantidad" id="cantidad" min="0" step="1" >
										</div>	
										<div class="form-group col-md-3">
											<button type="button" id="btn_add" class="btn btn-info" name="agregar" v-on:click="agregarItem(plato)">Agregar</button>
										</div>	
									</div>		
								</form>
							</div>
					</div>
					
					<div class="formContainer__list">
						<div class="table-wrapper-scroll-y">
							<table class="table table-borderless mb-0">
							   <tbody>
							   		<tr v-for="(plato, key) in pedido">
							      		<td colspan="2">{{plato.cod}}</td>
							      		<td colspan="3">{{plato.nombre}}</td>
							      		<td colspan="2"><input type="number" class="form-control" v-model="plato.cantidad" name="cantidad" id="cantidad" min="1" step="1"></td>
							      		<td colspan="3">$ {{(plato.precio) * (plato.cantidad)}}</td>
						    	  		<td colspan="3"><button class="btn btn-info" v-on:click="quitarPlato(key)">Quitar plato</button></td>
						   	  		</tr>
						 		</tbody>	
							</table>
						</div>	
					</div>
					
					<div class="formContainer__bottom">
						<input type="text" name="total" id="totPedido" readonly v-model="totalPedido">
						<button type="button" class="btn btn-outline-dark" v-on:click="backPage">Volver</button>
						<button type="button" class="btn btn-primary" v-on:click="saveChanges">Guardar</button>
					</div>
				</div>
			</div>	
		</div>	
	</div>
	<!-- Init App -->
	<script type="text/javascript" src="app.js"></script>

</body>
</html>